
$shadow:  0 2px 2px 0 rgba(0, 0, 0, 0.14),
          0 1px 5px 0 rgba(0, 0, 0, 0.12),
          0 3px 1px -2px rgba(0, 0, 0, 0.2);
$grey30:  #fafafa;
$grey700: #616161;


body {
  font-family: 'Roboto', 'Noto', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 24px;
  background-color: $grey30;
}

code {
  color: $grey700;
}

.horizontal-section-container {
  display: flex;
  flex-direction: row;

  .menu {
    min-width: 240px;
  }

  .apps {
    margin: auto;
    min-width: 800px;
  }

  .dropzone-container {
    margin-top: 24px;
    margin-left: 24px;
    background-color: white;
    height: 200px;
  }
}

.horizontal-section {
  padding: 0 !important;
  background-color: white;
  box-shadow: $shadow;
}

.vertical-section {
  background-color: white;
  box-shadow: $shadow;
}

.sublist {
  padding-left: 20px;
  padding-right: 20px;
}

.centered {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}



