<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> created home page with multiple pages
=======
>>>>>>> integrated working sass
=======
=======
>>>>>>> created home page with multiple pages
>>>>>>> created home page with multiple pages
@import "color.scss";

$shadow:  0 2px 2px 0 rgba(0, 0, 0, 0.14),
          0 1px 5px 0 rgba(0, 0, 0, 0.12),
          0 3px 1px -2px rgba(0, 0, 0, 0.2);


body {
  font-family: 'Roboto', 'Noto', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 24px;
  background-color: $grey30;
}

code {
  color: $grey700;
}

.menu-container {
  display: flex;
  flex-direction: row;

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> created home page with multiple pages
=======
>>>>>>> converting songs to navy web app
=======
=======
>>>>>>> created home page with multiple pages
>>>>>>> created home page with multiple pages
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: $blue100;
  box-shadow: $shadow;
<<<<<<< HEAD

  .logo {
    margin: auto;
  }

  .menu-item {
=======
  .menu {
    min-width: 240px;
  }

  .apps {
>>>>>>> converting songs to navy web app
    margin: auto;
    min-width: 256px;
    background-color: white;
=======

  .logo {
    margin: auto;
>>>>>>> created home page with multiple pages
<<<<<<< HEAD
  }

  .menu-item {
=======
  .menu {
    min-width: 240px;
  }

  .apps {
>>>>>>> converting songs to navy web app
    margin: auto;
    min-width: 256px;
    background-color: white;
=======
>>>>>>> created home page with multiple pages
  }

  .menu-item {
    margin: auto;
    min-width: 256px;
    background-color: white;
  }

  .dropzone-container {
    margin-top: 24px;
    background-color: white;
    height: 200px;
  }
}

.body-container {
  padding-top: 24px;
  background-color: white;
  box-shadow: $shadow;

  min-height: 800px;
<<<<<<< HEAD
<<<<<<< HEAD

  .home-page{
    text-align: center;
  }

  .apps-page {
    text-align: center;
  }

  .upload-page {
    text-align: center;
  }

  .login-page {
    text-align: center;
  }
}
=======
=======
>>>>>>> integrated working sass


h1 {
  color: red
}

<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> integrated working sass
=======
=======
=======
>>>>>>> created home page with multiple pages

  .home-page{
    text-align: center;
  }

  .apps-page {
    text-align: center;
  }
>>>>>>> created home page with multiple pages

  .upload-page {
    text-align: center;
  }

<<<<<<< HEAD
>>>>>>> installed sass compiler
=======
  .login-page {
    text-align: center;
  }
}
<<<<<<< HEAD
>>>>>>> created home page with multiple pages
=======
=======


h1 {
  color: red
}

<<<<<<< HEAD
>>>>>>> integrated working sass
<<<<<<< HEAD
>>>>>>> integrated working sass
=======
=======
=======

  .home-page{
    text-align: center;
  }

  .apps-page {
    text-align: center;
  }
>>>>>>> created home page with multiple pages

  .upload-page {
    text-align: center;
  }

<<<<<<< HEAD
>>>>>>> installed sass compiler
<<<<<<< HEAD
>>>>>>> installed sass compiler
=======
=======
  .login-page {
    text-align: center;
  }
}
<<<<<<< HEAD
>>>>>>> created home page with multiple pages
>>>>>>> created home page with multiple pages
=======
>>>>>>> integrated working sass
=======



>>>>>>> installed sass compiler
