
$shadow:  0 2px 2px 0 rgba(0, 0, 0, 0.14),
          0 1px 5px 0 rgba(0, 0, 0, 0.12),
          0 3px 1px -2px rgba(0, 0, 0, 0.2);

body {
  font-family: 'Roboto', 'Noto', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 24px;
  background-color: #fafafa;
}

.horizontal-section-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.vertical-section-container {
}

.horizontal-section {
  padding: 0 !important;
  background-color: white;
  box-shadow: $shadow;
}

.vertical-section {
  background-color: white;
  box-shadow: $shadow;
}

.avatar {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  background: #ccc;
}

paper-item {
  --paper-item: {
    cursor: pointer;
  };
}

.sublist {
  padding-left: 20px;
  padding-right: 20px;
}

.centered {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

code {
  color: #616161
}
